<header th:fragment="bodyHeader">
    <nav class="bg-gray-200 shadow-md py-4 w-full top-0 z-20">
        <div class="mx-2 px-4 flex justify-between items-center">
            <a href="/">
                <img src="/img/logo.png" style="width: 100px; height: auto" alt="logo" class="h-8"/>
            </a>
            <a href="/login" class="block px-3 py-2 text-sm text-white bg-gradient-to-r from-blue-500 to-blue-600 font-semibold rounded-lg transition duration-200 hover:bg-gradient-to-l hover:from-blue-900 hover:to-blue-700">로그인</a>
        </div>
    </nav>
</header>