<footer th:fragment="footer" class="footer">
    <div class="footer-content">
        <div class="footer-img">
            <a href="https://www.inha.ac.kr" target="_blank"><img src="/img/inhaLogo.png" alt="인하대 로고" class="img-fluid"/></a>
        </div>
        <div class="m-0">
            <p class="footer-text">
                &copy;&nbsp;2024-2&nbsp;전자공학종합설계(004분반). Developed by&nbsp;
                3조(안창민, 손승주, 최현규)
            </p>

            <div class="footer-text" style="display: flex; align-items: center;">
                <p>오류 / 건의 사항 보내기</p>
                <div class="tit_post_gmail">
                    <a href="mailto:chm20060@gmail.com" class="gmail_link" target='_blank'>
                        <img src="https://tistory1.daumcdn.net/tistory/5128218/skin/images/mail.png" class="mail-img" width="30" height="30" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>
