.container {
    border: 10px solid rgb(133, 77, 60);
    margin: 40px auto;
    background-color: rgb(10, 49, 10);
    box-shadow: 5px 5px 10px 5px #ddd;
    color: white;
    padding: 50px;
    font-size: 26px;
    font-weight: normal;
    font-family: 'Nanum Brush Script',serif;
    position: relative; /* 자식 요소의 절대 위치를 기준으로 하기 위해 추가 */
}
.container h2 {
    font-size : 50px;
}
.container h3 {
    font-size: 40px;
    text-decoration: underline; /* 첫 번째 밑줄 */
    text-decoration-thickness: 3px; /* 필요에 따라 두께 조정 */
    text-decoration-color: lightpink;
}

.pen{
    border: 3px solid white;
    position: absolute; /* 절대 위치로 변경 */
    bottom: 0px; /* 컨테이너 하단에서 10px 위 */
    left: 20px; /* 왼쪽에 위치 */
    width: 50px;
}

.eraser {
    background-color: navy;
    width: 110px;
    height: 50px;
    position: absolute; /* 절대 위치로 변경 */
    bottom: 5px; /* 컨테이너 하단에서 10px 위 */
    right: 20px; /* 오른쪽에 위치 */
    border: 3px solid #000;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}
.eraser-bg {
    background-color: darkorange;
    width: 110px;
    height: 20px;
    position: relative;
    top: 12px;
    left: -3px;
    border: 3px solid #000;
    border-radius: 0 0 10px 10px;
}

/*.degree-line {*/
/*    display: inline-block; !* 또는 block *!*/
/*    width: 50px;*/
/*    height: 11px;*/
/*    border-bottom: 2px solid #fff; !* 직선 *!*/
/*    transform: rotate(135deg); !* 45도 회전 *!*/
/*    margin: 10px; !* 필요에 따라 여백 추가 *!*/
/*}*/

/*!* 버튼이 비활성화되었을 때 회색 배경 및 텍스트 색상 *!*/
/*button:disabled {*/
/*    background-color: #d1d5db; !* 회색 배경 *!*/
/*    color: #6b7280; !* 회색 텍스트 *!*/
/*    cursor: not-allowed; !* 포인터 커서 변경 *!*/
/*}*/

/*!* 비활성화된 버튼에 대한 호버 효과 제거 *!*/
/*button:disabled:hover {*/
/*    background-color: #d1d5db; !* 회색 배경 유지 *!*/
/*    color: #6b7280; !* 회색 텍스트 유지 *!*/
/*}*/