.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    color: #5e5e5e;
    font-weight: bold;
    text-align: center;
    position: relative; /* 상대 위치 설정 */

}
.close {
    color: #aaa;
    float: right;
    position: absolute; /* 절대 위치 설정 */
    top: 5px; /* 위쪽으로 이동 */
    right: 15px; /* 오른쪽으로 이동 */
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}