<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>
<link rel="stylesheet" href="/css/post_it.css"/>
<link rel="stylesheet" href="/css/jelly_check_box.css"/>
<link rel="stylesheet" href="/css/note.css"/>
<link rel="stylesheet" href="/css/left_right_button.css"/>

<body class="flex flex-col">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<div id="wrap" class="flex flex-row justify-center items-center">

    <div class="background w-[80%]">

        <div class="flex justify-center mb-10">
            <img src="https://symbl-world.akamaized.net/i/webp/2b/e8d6ffcbb94883e25a7c14dbbb9055.webp" style="transform: scaleX(-1); width: 50px; margin-right: 20px">
            <h2 th:unless="${loginMember==null}" class="underline" style="text-decoration-color: #f94d6a;" th:text="${loginMember.name} + '님 환영합니다!'"></h2>

            <h2 th:if="${loginMember==null}">로그인 후 이용 가능합니다!</h2>
        </div>

        <div class="flex flex-col justify-center items-center mb-10">
            <div><h3>오늘의 강의</h3></div>

            <div th:unless="${loginMember==null}">
                <h2 th:if="${todaySubjects.size()==0}">자.습.</h2>
                <div th:each="subject : ${todaySubjects}">
                    <p th:text="${subject.name + ' (' + subject.time + ')'}"></p>
                </div>
            </div>
        </div>

        <div class="flex justify-evenly">
            <div class="rgyPostIt mb-10">
                <h2 class="mb-2"><span class="material-symbols-outlined" style="font-size: 30px">assignment</span> 아직 제출하지 않은 과제</h2>
                <div th:each="assignment : ${remainAssignments}"
                     th:if="${assignment.assignmentType != 'VIDEO'}">
                    <div class="flex justify-start items-start">
                        <label class='checkbox'>
                            <input type="checkbox" th:attr="data-id=${assignment.memberAssignmentId}" onclick="confirmComplete(this)"/>
                            <span class="icon"></span>
                        </label>

                        <div class="flex flex-col justify-start">
                            <p th:text="${'[' + assignment.subjectName + '] '}"></p>
                            <p th:text="${assignment.name}"></p>
                            <p class="remainingTime" th:data-remaining-seconds="${assignment.remainingSeconds}"></p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="rgyPostIt mb-10">
                <h2 class="mb-2"><span class="material-symbols-outlined" style="font-size: 30px">videocam</span> 아직 시청하지 않은 웹강</h2>
                <div th:each="assignment : ${remainAssignments}"
                     th:if="${assignment.assignmentType == 'VIDEO'}">
                    <div class="flex justify-start items-start">
                        <label class='checkbox'>
                            <input type="checkbox" th:attr="data-id=${assignment.memberAssignmentId}" onclick="confirmComplete(this)"/>
                            <span class="icon"></span>
                        </label>

                        <div class="flex flex-col justify-start">
                            <p th:text="${'[' + assignment.subjectName + '] '}"></p>
                            <p th:text="${assignment.name}"></p>
                            <p class="remainingTime" th:data-remaining-seconds="${assignment.remainingSeconds}"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <a href="/quiz" class="material-symbols-outlined" id="left-btn">keyboard_double_arrow_left</a>
    <a href="/quiz" class="material-symbols-outlined" id="right-btn">keyboard_double_arrow_right</a>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="/js/check_box.js"></script>
<script src="/js/remaining_time.js"></script>
</html>