<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>
<body class="flex flex-col">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

<div id="wrap">
    <!--이 div 태그 안에 본문 작성하시면 됩니다!-->

    <div th:unless="${loginMember==null}">
        <p th:text="${loginMember.name}"></p>
    </div>
    <div th:if="${loginMember==null}">
        로그인하셈!
    </div>

    <p>오늘의 강의</p>
    <div th:each="subject : ${todaySubjects}">
        <p th:text="${subject.name}"></p>
        <p th:text="${subject.time}"></p>
    </div>

    <p>남은 과제</p>
    <div th:each="assignment : ${remainAssignments}">
        <p th:text="${assignment.assignment.name}"></p>
        <p th:text="${assignment.assignment.deadline}"></p>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>