<!doctype html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inha Planet</title>
    <link rel="stylesheet" href="/css/footer.css"/>

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .content {
            flex-grow: 1;

            min-height: calc(100% - 80px);
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="${content}" class="content">

</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>